{sub_dirs, ["ebin"]}.
{lib_dirs, ["deps"]}.

{cover_enabled, true}.

{erl_opts, [{i, "include"}, {parse_transform, lager_transform}]}.

{deps, [
    {lager, "2.0.*", {git, "git://github.com/basho/lager.git", {tag, "2.0.1"}}},
    {jiffy, "0.8.*", {git, "git://github.com/davisp/jiffy.git", {tag, "0.8.5"}}}
 ]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{require_otp_vsn, "R15"}.
